<p>Invoice id: <%= @invoice.id %></p>
<p>Invoice status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h5>Total Revenue: <%= Merchant.total_revenue(@invoice.id) %><h5>

<%= form_with merchant_invoice_path(@invoice.id) , method: method, local: true do |f| %>
  <%= f.collection_select :item_status %>

  <%= f.submit %>
<% end %>