<p>Invoice id: <%= @invoice.id %></p>
<p>Invoice status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h5>Total Revenue: <%= Merchant.total_invoice_revenue(@invoice.id).to_f %><h5>
<h5>Discount: <%= @invoice.discounted_revenue(@merchant.id) %><h5>
<h5>Total With Discount: <%= @invoice.total_minus_discounted_revenue(@merchant.id) %><h5>

<h1>Items on this Invoice:</h1> 

<% Invoice.merchant_ii(@merchant.id, @invoice.id).each do |invoice_item| %>
  <p>Item Name: <%= invoice_item.item.name%></p>
  <p>Quantity: <%= invoice_item.quantity%></p>
  <p>Unit Price: <%= invoice_item.unit_price%></p>
  <%= form_with url: "/merchant/#{@merchant.id}/invoices/#{@invoice.id}?ii_id=#{invoice_item.id} ", method: :patch, local: true do |f| %>
    <%= f.select :status, [["pending", 1 ], ["packaged", 0]], selected: invoice_item.status %>
    <%= f.submit "Update Item Status" %>
  <% end%>
  <p>Applied Discounts: </p>
  <%invoice_item.my_discounts.each do |discount| %>
    <p><%= discount.percentage %></p>
  <% end %>
<% end %>

