<h3>Discounts Index</h3>

<%= @discounts.each do |discount| %>
    <p>Id: <%= discount.id %></p>
    <p>Percentage: <%= discount.percentage %></p>
    <p>Quantity Threshold:<%= discount.quantity_threshold %></p>
    <%= link_to "Discount #{discount.id} Show Page", "/discounts/#{discount.id}"%>

<% end %>