<h3>Discounts Index</h3>

<h5>Upcoming Holdays</h5>
<% api_helper.holidays.each do |holiday|%>
    <p><%= holiday %></p>
<% end%>

<%= link_to "Create a Discount", "/merchant/#{@merchant.id}/discounts/new", method: :get, local: true %>

<% @discounts.each do |discount| %>
    <p>Id: <%= discount.id %></p>
    <p>Percentage: <%= discount.percentage %></p>
    <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
    <%= link_to "Discount #{discount.id} Show Page", "/merchant/#{@merchant.id}/discounts/#{discount.id}", method: :get, local: true %>
    <%= link_to "Delete #{discount.id}", "/merchant/#{@merchant.id}/discounts/#{discount.id}", method: :delete, local: true %>

    

<% end %>